<header class="white-header">
    <div class="header-inner">
      <div class="logo">
        <img src="assets/SmarTune_white.png" alt="SMARTUNE Logo">
      </div>      
      <div class="progress-wrapper">
        <div class="progress-bar">
          <div class="step current">
            הכנת הנתונים
            <div class="circle"></div>
          </div>
          <div class="dots">
            <span></span><span></span><span></span><span></span><span></span>
          </div>
          <div class="step">
            אימות הנתונים
            <div class="circle"></div>
          </div>
          <div class="dots">
            <span></span><span></span><span></span><span></span><span></span>
          </div>
          <div class="step">
            הגדרת הפרמטרים
            <div class="circle"></div>
          </div>
          <div class="dots">
            <span></span><span></span><span></span><span></span><span></span>
          </div>
          <div class="step">
            אימון המודל
            <div class="circle"></div>
          </div>
          <div class="dots">
            <span></span><span></span><span></span><span></span><span></span>
          </div>
          <div class="step">
            בדיקת המודל
            <div class="circle"></div>
          </div>
        </div>
      </div>      
      <div class="right-placeholder"></div>
    </div>
  </header>
